<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>BMI Calculator</title>
    <meta charset="utf-8"/>

    <!-- css -->
    <link rel="stylesheet" href="../static/css/uikit.min.css" th:href="@{css/uikit.min.css}">
    <link rel="stylesheet" href="../static/css/start.css" th:href="@{css/start.css}">

    <!-- js -->
    <script th:src="@{/js/uikit.js}"></script>
    <script th:src="@{/js/uikit-icons.js}"></script>
</head>
<body>

</body>
</html>