<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>

<body>
<div class="container">
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-center" style="margin-top: 20px">
            <p class="uk-navbar-item uk-logo">Kalkulator BMI</p>
        </div>

        <form class="uk-navbar-left" th:action="@{/userProfile}" th:object="${user}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <input type="submit" class="uk-button uk-button-primary" value="Profil użytkownika">
        </form>
        <form class="uk-navbar-right" th:action="@{/logout}" method="post">
            <input type="submit" class="uk-button-logout uk-button uk-button-danger" value="Wyloguj">
        </form>
    </nav>

    <h2 class="calc-header">Wprowadź dane</h2>
    <form style="width: 400px; margin: auto; text-align:center;" action="#" th:action="@{/calculator}" th:object="${operationModel}" method="POST">

        <div class="uk-margin" style="margin-top: 60px";>
            <label>Wprowadź swoją wagę w [kg]:</label>
            <input class="uk-input-inline uk-input" type="text" th:field="*{weight}"/>
        </div>

        <div class="uk-margin" style="margin-top: 20px !important;">
            <label>Wprowadź swój wzrost w [m]:</label>
            <input class="uk-input-inline uk-input" type="text" th:field="*{height}"/>
        </div>

        <input type="submit" style="margin-right: 20px;" class="uk-button uk-button-secondary" name="bmiDivide" value="Oblicz"/>
        <input type="submit" class="uk-button uk-button-danger" name="clearSimple" value="Wyczyść"/>
    </form>
    <br>
    <br>

    <div class="container">
        <h2 class="calc-result-header">Twoje BMI: </h2>
        <form style="width: 400px; margin: auto" action="#" th:action="@{/calculator}" th:object="${operationModel}"
              method="POST">
            <div class="uk-margin">
                <div class="result">
                <p th:text="${#numbers.formatDecimal(bmi_result, 1, 'DEFAULT', 2, 'DEFAULT')}"></p>
                </div>
            </div>
        </form>

        <div class="container">
        <table class="uk-table uk-table-striped uk-table-responsive">
            <thead>
            <tr>
                <th>WYNIK</th>
                <th>ZNACZENIE</th>
                <th>WSKAZANIA</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="uk-table-expand">mniej niż 16</td>
                <td class="uk-table-expand-max">wygłodzenie</td>
                <td>Pilna konsultacja ze specjalistą. Stan zagrażający życiu!</td>
            </tr>
            <tr>
                <td class="uk-table-expand">16 - 16.99</td>
                <td class="uk-table-expand-max">wychudzenie</td>
                <td>Pilna konsultacja ze specjalistą</td>
            </tr>
            <tr>
                <td class="uk-table-expand">17 - 18.49</td>
                <td class="uk-table-expand-max">niedowaga</td>
                <td>Zalecana konsultacja ze specjalistą</td>
            </tr>
            <tr>
                <td class="uk-table-expand">18.5 - 24.99</td>
                <td class="uk-table-expand-max">waga prawidłowa</td>
            </tr>
            <tr>
                <td class="uk-table-expand">25 - 29.99</td>
                <td class="uk-table-expand-max">nadwaga</td>
                <td>Zalecana konsultacja ze specjalistą</td>
            </tr>
            <tr>
                <td>30 - 34.99</td>
                <td class="uk-table-expand-max">Otyłość I stopnia</td>
                <td>Zalecana konsultacja ze specjalistą</td>
            </tr>
            <tr>
                <td class="uk-table-expand">35 - 39.99</td>
                <td class="uk-table-expand-max">Otyłość II stopnia</td>
                <td>Pilna konsultacja ze specjalistą</td>
            </tr>
            <tr>
                <td class="uk-table-expand">powyżej 40</td>
                <td class="uk-table-expand-max">otyłość skrajna</td>
                <td>Pilna konsultacja ze specjalistą. Stan zagrażający życiu!</td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
</body>
</html>
