<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>

<body>
<div class="container">
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-center" style="margin-top: 20px">
            <p class="uk-navbar-item uk-logo">Kalkulator BMI</p>
        </div>

        <form class="uk-navbar-right" style="margin-right: 20px;" th:action="@{/userProfile}" th:object="${user}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <input type="submit" class="uk-button uk-button-primary" value="Profil użytkownika">
        </form>
        <form class="uk-navbar-left" style="margin-left: 20px; margin-right: 50px" th:action="@{/logout}" method="post">
            <input type="submit" class="uk-button uk-button-danger" style="background-color: orangered;" value="Wyloguj">
        </form>
    </nav>

    <h2 class="calc-header">Wprowadź dane</h2>
    <form style="width: 400px; margin: auto; text-align:center;" action="#" th:action="@{/calculator}" th:object="${operationModel}" method="POST">

        <div class="uk-margin" style="margin-top: 60px";>
            <label>Wprowadź swoją wagę w [kg]:</label>
            <input type="text" th:field="*{weight}"/>
        </div>

        <div class="uk-margin" style="margin-top: 40px !important;">
            <label>Wprowadź swój wzrost w [m]:</label>
            <input type="text" th:field="*{height}"/>
        </div>
        <br>

        <input type="submit" style="margin-right: 20px;" class="uk-button uk-button-primary" name="bmiDivide" value="Oblicz"/>
        <input type="submit" class="uk-button uk-button-danger" name="clearSimple" value="Wyczyść"/>
    </form>
    <br>
    <br>

    <div class="container">
        <h2 class="calc-result-header">Twoje BMI: </h2>
        <form style="width: 400px; margin: auto" action="#" th:action="@{/calculator}" th:object="${operationModel}"
              method="POST">
            <div class="uk-margin">
                <div class="result">
                <p th:text="${#numbers.formatDecimal(bmi_result, 1, 'DEFAULT', 2, 'DEFAULT')}"></p>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
