<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>

<body>
<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-center">
        <p class="uk-navbar-item uk-logo">Logowanie</p>
    </div>
</nav>

<div class="container">
    <form style="width: 400px; margin: auto" th:object="${userDto}" th:action="@{/loginProcess}" method="post">
        <div class="wrong-credentials" role="alert" th:if="${wrongCredentials}" th:text="${wrongCredentials}"></div>
        <div class="correct-register" role="alert" th:if="${correctRegister}" th:text="${correctRegister}"></div>
        <div class="uk-margin">
            <label>Login</label>
            <input th:field="*{username}" type="text" class="uk-input">
        </div>
        <div class="wrong-username" role="alert" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
        <div class="uk-margin">
            <label>Hasło</label>
            <input th:field="*{password}" type="password" class="uk-input">
        </div>
        <div class="wrong-password" role="alert" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        <a th:href="@{/}"><input class="uk-button uk-button-danger" style="margin-right: 20px;" type="button" value="Anuluj"></a>
        <input type="submit" class="uk-button uk-button-secondary" value="Zaloguj się">
    </form>
</div>

</body>
</html>