<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::.container})}">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
</head>

<body>

<div class="container">
    <form style="width: 400px; margin: auto" th:object="${userDto}" th:action="@{/loginProcess}" method="post">
        <div class="alert alert-danger" role="alert" th:if="${wrongCredentials}" th:text="${wrongCredentials}"></div>
        <div class="uk-margin">
            <label>Login</label>
            <input th:field="*{username}" type="text" class="uk-input">
        </div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
        <div class="uk-margin">
            <label>Hasło</label>
            <input th:field="*{password}" type="password" class="uk-input">
        </div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        <a th:href="@{/}"><input class="uk-button uk-button-danger" type="button" value="Anuluj"></a>
        <input type="submit" class="uk-button uk-button-primary" value="Zaloguj się">
    </form>
</div>

</body>
</html>