<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::.container})}">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
</head>

<body>

<div class="container">
    <form style="width: 400px; margin: auto" th:object="${user}" th:action="@{/register}" method="post">
        <div class="uk-margin">
            <label>Login</label>
            <input th:field="*{username}" type="text" class="uk-input">
        </div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
        <div class="uk-margin">
            <label>Hasło</label>
            <input th:field="*{password}" type="password" class="uk-input">
        </div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        <div class="uk-margin">
            <label>Imię</label>
            <input th:field="*{firstName}" type="text" class="uk-input">
        </div>
        <div class="uk-margin">
            <label>Nazwisko</label>
            <input th:field="*{lastName}" type="text" class="uk-input">
        </div>
        <div class="uk-margin">
            <label>Email</label>
            <input th:field="*{email}" type="text" class="uk-input">
        </div>
        <div class="uk-margin">
            <label>Telefon</label>
            <input th:field="*{phone}" type="tel" class="uk-input">
        </div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>

        <a th:href="@{/}"><input class="uk-button uk-button-danger" type="button" value="Anuluj"></a>
        <input type="submit" class="uk-button uk-button-primary" value="Zapisz">
    </form>
</div>

</body>
</html>