<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>

<body>
<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-center">
        <p class="uk-navbar-item uk-logo">Profil użytkownika</p>
    </div>
</nav>

<div class="container">

    <form style="width: 400px; margin: auto" th:object="${user}" th:action="@{/updateUser}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{username}"/>
        <div class="uk-margin">
            <label>Nazwa użytkownika ( brak możliwości edycji )</label>
            <input th:field="*{username}" type="text" class="uk-input" disabled>
        </div>
        <div class="uk-margin">
            <label>Nowe hasło</label>
            <input th:field="*{password}" type="password" class="uk-input">
        </div>
        <div class="uk-margin">
            <label>Imię</label>
            <input th:field="*{firstName}" type="text" class="uk-input">
        </div>
        <div class="uk-margin">
            <label>Nazwisko</label>
            <input th:field="*{lastName}" type="text" class="uk-input">
        </div>
        <div class="uk-margin">
            <label>Email</label>
            <input th:field="*{email}" type="text" class="uk-input">
        </div>
        <div class="uk-margin">
            <label>Telefon</label>
            <input th:field="*{phone}" type="tel" class="uk-input">
        </div>
        <div class="wrong-phone" role="alert" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
        <div class="correct-update" role="alert" th:if="${correctUpdate}" th:text="${correctUpdate}"></div>
        <a th:href="@{/calculator}"><input class="uk-button uk-button-danger" style="margin-right: 20px;" type="button" value="Wróć"></a>
        <input type="submit" class="uk-button uk-button-primary" value="Aktualizuj">
    </form>
</div>
</body>
</html>